<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/assets/images/icons/favicon.png}"/>
    <title th:text="#{admins.home.headerTitle}"></title>
  </head>
  <body  class="d-flex flex-column justify-content-between">
    <div th:include="/fragments/menu"></div>
    <div class="container" id="root">
      <h1 class="w-100 text-center" th:text="#{admins.home.title}"></h1>
      <h2>TODO</h2>
    </div>

    <div th:replace="/fragments/footer" />
    <div th:replace="/fragments/imports" />
  </body>
</html>