<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/assets/images/icons/favicon.png}"/>
    <title th:text="#{login.headerTitle}"></title>
  </head>
  <body class="d-flex flex-column justify-content-between">
    <div th:include="fragments/menu"></div>
    <div class="container h-100 pt-sm-5 d-flex flex-column justify-content-center align-items-center" id="root">
      <div class="w-100">
        <form th:action="@{/login}" method="POST">
          <div class="row rounded-right"  style="box-shadow: 0px 4px 32px 8px rgba(0, 0, 0, 0.16);">
            <div class="bg-primary rounded-left col-12 col-md-4 py-3 px-3 d-inline-flex align-items-center justify-content-center">
              <img th:src="@{/assets/images/login/login.svg}" alt="Login" width="200"/>
            </div>
            <div class="rounded-right col-12 col-md-8 py-3 px-4">
              <h1 class="text-center w-100" th:text="#{login.title}"></h1>
              <p class="h5 mt-3 text-center w-100" th:text="#{login.subTitle}"></p>
              <div class="alert alert-danger" role="alert" th:if="${param.error}">
                <ul>
                  <li th:text="#{login.error}"></li>
                </ul>
              </div>
              <div class="mt-5 mb-2 mx-5">
                <div class="form-group">
                  <label for="inputEmail" th:text="#{login.emailLabel}"></label>
                  <input type="email" name="username" maxlength="128" class="form-control" id="inputEmail" required th:placeholder="#{login.emailPlaceholder}" th:value="${data != null && data.email != null ? data.email : null}">
                </div>
                <div class="form-group">
                  <label for="inputPassword" th:text="#{login.passwordLabel}"></label>
                  <input type="password" minlength="5" name="password" class="form-control" id="inputPassword" required th:placeholder="#{login.passwordPlaceholder}">
                </div>
                <div class="d-flex flex-column align-items-center">
                  <button type="submit" class="btn btn-primary" th:text="#{login.submitButton}"></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div th:replace="/fragments/footer"></div>
    <div th:replace="/fragments/imports"></div>
  </body>
</html>