<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/assets/images/logo.svg}" alt="Quero BIKE"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item" sec:authorize="hasAuthority('admin')">
        <a class="nav-link" th:href="@{/admins/rentals}" th:text="#{menu.rentals}"></a>
      </li>
      <li class="nav-item" sec:authorize="!hasAuthority('admin')">
        <a class="nav-link" th:href="@{/rentals/}" th:text="#{menu.rentals}"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:text="#{menu.whoWeAre}"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:text="#{menu.contact}"></a>
      </li>

    </ul>
    <ul class="navbar-nav" sec:authorize="hasAuthority('customer')">
      <li class="nav-item mr-2">
        <a class="nav-link" href="/customers/update" th:text="#{menu.profile}"></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" th:href="@{/logout}" th:text="#{menu.logout}"></a>
      </li>
    </ul>
    <ul class="navbar-nav" sec:authorize="hasAuthority('rental')">
      <li class="nav-item mr-2">
        <a class="nav-link" th:href="@{/rentals/home}" th:text="#{menu.profile}"></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" th:href="@{/logout}" th:text="#{menu.logout}"></a>
      </li>
    </ul>
    <ul class="navbar-nav" sec:authorize="hasAuthority('admin')">
      <li class="nav-item mr-2">
        <a class="nav-link" href="/admins/" th:text="#{menu.profile}"></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" th:href="@{/logout}" th:text="#{menu.logout}"></a>
      </li>
    </ul>
    <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
      <li class="nav-item mr-2">
        <a class="nav-link" th:href="@{/login}" th:text="#{menu.access}">acessar</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/customers/register" th:text="#{menu.createAccount}">criar conta</a>
      </li>
    </ul>

  </div>
</nav>