<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/assets/images/icons/favicon.png}"/>
    <title th:text="#{rentals.home.headerTitle}"></title>
  </head>
  <body  class="d-flex flex-column justify-content-between">
    <div th:include="/fragments/menu"></div>
    <div class="container" id="root">
      <h1 class="w-100 text-center" th:text="#{admins.customers.title}"></h1>
      <div id="toolbar">
        <a class="btn btn-primary" th:href="@{/admins/rentals/register}" th:text="#{admins.customers.new}"></a>
      </div>
      <table class="table table-striped table-hover"  data-show-columns="true" id="table"
             data-toggle="table"
             data-flat="true"
             data-search="true"
             data-toolbar="#toolbar"
             data-locale="${localeCode}"
             >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" th:text="#{admins.customers.name}"></th>
            <th scope="col">CPF</th>
            <th scope="col"  th:text="#{admins.customers.phone}"></th>
            <th scope="col"  th:text="#{admins.customers.birthdate}"></th>
            <th scope="col"  th:text="#{admins.customers.actions}"></th>
          </tr>
        </thead>
        <tr th:each="customer : ${customers}">
          <th scope="row" th:text="${customer.id}"></th>
          <td th:text="${customer.name}"></td>
          <td th:text="${customer.CPF}"></td>
          <td th:text="${customer.phone}"></td>
          <td th:text="${customer.birthdate}"></td>
          <td>
            <a class="badge badge-secondary" th:href="@{/admins/customers/edit}+'?id='+${customer.id}" th:text='#{admins.customers.edit}'></a>
            <a class="badge badge-danger" href="#" data-toggle="modal" data-target="#modalDelete" th:onclick="'updateLinkDelete('+${customer.id}+')'" th:text='#{admins.customers.remove}'></a>
          </td>
        </tr>
      </table>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" th:text="#{admins.customers.modalTitleDelete}"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" th:text="#{admins.customers.modalMessageDelete}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{admins.customers.closeModal}"></button>
            <a id="linkDelete" class="btn btn-danger" th:text="#{admins.customers.remove}"></a>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="/fragments/footer" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/pages/index.css}" />
    <div th:replace="/fragments/imports" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/locale/bootstrap-table-en-US.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/locale/bootstrap-table-pt-BR.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/locale/bootstrap-table-en-US.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/locale/bootstrap-table-pt-BR.js"></script>
    <script>
      function updateLinkDelete(customerId) {
          linkElement = document.getElementById("linkDelete")
          linkElement.href = "[[@{/admins/customers/delete}]]?id=" + customerId
      }
    </script>
  </body>
</html>