<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/assets/images/icons/favicon.png}"/>
    <title th:text="#{admins.customers.register.headerTitle}"></title>
  </head>
  <body  class="d-flex flex-column justify-content-between">
    <div th:include="/fragments/menu"></div>
    <div class="container" id="root">
      <h1 class="w-100 text-center" th:text="#{admins.customers.register.title}"></h1>

      <form th:action="@{/admins/rentals/register}" th:object="${rental}" method="POST">
        <div class="form-group">
          <label for="inputName" th:text="#{admins.customers.register.nameLabel}"></label>
          <input type="text" maxlength="128" class="form-control" id="inputName" required th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{name}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputCNPJ">CNPJ</label>
          <input type="text" maxlength="14" class="form-control" id="inputCNPJ" required th:field="*{cnpj}" th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{cnpj}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" th:text="#{admins.customers.register.emailLabel}"></label>
          <input type="email" maxlength="128" class="form-control" id="inputEmail" required th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{email}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" th:text="#{admins.customers.register.passwordLabel}"></label>
          <input type="password" minlength="5" class="form-control" id="inputPassword" required th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{password}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputDescription" th:text="#{admins.customers.register.descriptionLabel}"></label>
          <input type="text" class="form-control" id="inputDescription" th:field="*{description}" th:classappend="${#fields.hasErrors('description')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{description}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPostalCode" th:text="#{admins.customers.register.postalCodeLabel}"></label>
          <input type="text" maxlength="8" class="form-control" id="inputPostalCode" th:field="*{postalCode}" required th:classappend="${#fields.hasErrors('postalCode')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{postalCode}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputStreetName" th:text="#{admins.customers.register.streetNameLabel}"></label>
          <input type="text" class="form-control" id="inputStreetName" th:field="*{streetName}" required th:classappend="${#fields.hasErrors('streetName')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{streetName}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputNeighborhood" th:text="#{admins.customers.register.neighborhoodLabel}"></label>
          <input type="text" class="form-control" id="inputNeighborhood" th:field="*{neighborhood}" required th:classappend="${#fields.hasErrors('neighborhood')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{neighborhood}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputStreetNumber" th:text="#{admins.customers.register.streetNumberLabel}"></label>
          <input type="text" class="form-control" id="inputStreetNumber" th:field="*{streetNumber}" required th:classappend="${#fields.hasErrors('streetNumber')} ? is-invalid">
          <div class="invalid-feedback">
            <span th:errors="*{streetNumber}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputCity" th:text="#{admins.customers.register.cityLabel}"></label>
          <select id="inputCity" class="form-control" th:field="*{city}" required th:classappend="${#fields.hasErrors('city')} ? is-invalid">
            <option value="" th:text="#{admins.customers.register.select}"></option>
            <option th:each="city : ${cities}" th:value="${city.id}"
                    th:text="${city.name} + ' - ' + ${city.state}"></option>
          </select>

          <div class="invalid-feedback">
            <span th:errors="*{city}"></span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{admins.customers.register.submitButton}"></button>

      </form>
    </div>

    <div th:replace="/fragments/footer" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/pages/index.css}" />
    <div th:replace="/fragments/imports" />
  </body>
</html>